@import 'variables';

.order {
  position: relative;

  &__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: url("../images/BG.png") center/cover no-repeat;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 120px auto 150px auto;
    gap: 80px;
    width: 100%;
    max-width: 1170px;
    @media (max-width: $tablet) {
      gap: 40px;
    }
    @media (max-width: $mobile) {
      margin: 120px auto 120px auto;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    @media (max-width: $tablet) {
    }
    @media (max-width: $mobile) {
      margin: 0 40px;
    }
  }

  &__titles {
    display: flex;
  }

  &__title {

    &--blue {
      color: rgba(67, 171, 240, 1);
    }
  }

  &__description {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: rgba(187, 187, 187, 1);
    display: flex;
    @media (max-width: $tablet) {
      text-align: center;
    }
    @media (max-width: $mobile) {
    }
  }

  /* Стили для иконок */
  &__steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 20px;
    }
    @media (max-width: $mobile) {
    }
  }

  &__point {
    position: absolute;
    display: flex;
    gap: 20px;
    top: 47px;
    left: 168px;
    @media (max-width: $tablet) {
      display: none;
    }
    @media (max-width: $mobile) {
    }
  }

  &__point-divider {
    display: flex;
    width: 6px;
    height: 6px;
    background: rgba(196, 196, 196, 1);
    box-sizing: border-box;
    border-radius: 50%;
  }

  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 209px;
    position: relative;

    &-icon {
      width: 100px;
      height: 100px;
      display: flex;
      border: 5px solid rgba(40, 102, 144, 1);
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      box-sizing: border-box;
      background: rgba(62, 156, 220, 1);
    }

    &-desc {
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      color: rgba(255, 255, 255, 1);
      height: 44px;
      display: flex;
      padding: 0 11px;
      box-sizing: border-box;
      width: 100%;
      justify-content: center;
    }
  }

  /* Стили формы */
  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-main-fields {
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr 1fr 1fr;
      @media (max-width: $tablet) {
        grid-template-columns: 1fr;
        margin: 0 40px;
      }
      @media (max-width: $mobile) {
      }
    }

    &-extra-controls {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 370px;
      @media (max-width: $tablet) {
        margin: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      @media (max-width: $mobile) {
      }
    }


    // Стили для блока с кнопкой
    &-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
    }

    // Стили селекта кнопкой
    .custom-select {
      position: relative;
      width: 100%;

      .__select {
        position: relative;
        width: 100%;
        height: 48px;

        &[data-state="active"] {
          .__select__title {
            background: rgba(61, 64, 80, 0.85);
            color: rgba(255, 255, 255, 1);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-top: 1px solid rgba(61, 64, 80, 1);
            border-left: 1px solid rgba(61, 64, 80, 1);
            border-right: 1px solid rgba(61, 64, 80, 1);
            border-bottom: none;

            &::before {
              transform: translate(-3px, -50%) rotate(-45deg);
              background-color: rgba(255, 255, 255, 1);
            }

            &::after {
              transform: translate(3px, -50%) rotate(45deg);
              background-color: rgba(255, 255, 255, 1);
            }
          }

          .__select__content {
            opacity: 1;
            display: flex;
          }

          .__select__label + .__select__input + .__select__label {
            max-height: 48px;
          }
        }
      }

      .__select__title {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 12px 35px 12px 10px;
        box-sizing: border-box;
        border-radius: 3px;
        border: solid 1px rgba(255, 255, 255, 1);
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.85);
        color: rgba(39, 39, 51, 1);
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 16px;
          display: block;
          width: 10px;
          height: 2px;
          transition: all 0.3s ease-out;
          background-color: rgba(0, 0, 0, 1);
          transform: translate(-3px, -50%) rotate(45deg);
        }
        &::after {
          transform: translate(3px, -50%) rotate(-45deg);
        }

        &:hover {
          border-color: rgba(62, 156, 220, 1);
          transition: all 0.3s ease-out;
          background: rgba(255, 255, 255, 1);
          &::before,
          &::after {
          }
        }
      }

      .__select__content {
        position: absolute;
        display: none;
        top: 48px;
        left: 0;
        flex-direction: column;
        width: 100%;
        background-color: rgba(39, 39, 51, 1);
        border-bottom: 1px solid rgba(61, 64, 80, 1);
        border-left: 1px solid rgba(61, 64, 80, 1);
        border-right: 1px solid rgba(61, 64, 80, 1);
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        transition: all 0.3s ease-out;
        opacity: 0;
        z-index: 8;
        padding: 5px 10px;
        box-sizing: border-box;
        max-height: 180px;
        overflow-y: auto;

        /* Кастомный скролл */
        &::-webkit-scrollbar {
          width: 7px;
        }

        &::-webkit-scrollbar-track {
          background: rgba(61, 64, 80, 0.5);
          border-radius: 3px;
        }

        &::-webkit-scrollbar-thumb {
          background: rgba(62, 156, 220, 1);
          border-radius: 3px;

          &:hover {
            background: rgba(255, 255, 255, 0.5);
          }
        }
      }


      .__select__input {
        display: none;

        &:checked + label {
          background-color: rgba(39, 39, 51, 0.9);
        }
      }
      .__select__label {
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        max-height: 0;
        padding: 0;
        min-height: 38px;
        transition: all 0.2s ease-out;
        cursor: pointer;
        overflow: hidden;
        color: rgba(255, 255, 255, 1);
        font-weight: 400;
        font-size: 18px;
        line-height: 34px;

        &:hover {
          color: rgba(67, 171, 240, 1);
        }
      }
    }
  }

  // Стили range
  &__range {
    width: 100%;
    max-width: 770px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }

    &-title {
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      color: rgba(255, 255, 255, 1);
    }

    &-value {
      font-weight: 600;
      font-size: 18px;
      line-height: 100%;
      text-align: right;
      color: rgba(255, 255, 255, 0.85);
    }

    &-track {
      display: flex;
      position: relative;
    }

    &-input {
      width: 100%;
      height: 6px;
      -webkit-appearance: none;
      background: transparent;
      margin: 0;
      padding: 0;

      &:valid {
        border: none;
        background: transparent;
      }

      &:hover {
        background: transparent;
        border: none;
      }

      &:focus {
        background: transparent;
        border: none;
      }

      /* Линия трека */
      &::-webkit-slider-runnable-track {
        height: 4px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 2px;
        border: 1px solid rgba(255, 255, 255, 1);
        box-sizing: border-box;
      }

      /* Ползунок */
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: rgba(66, 169, 237, 1);
        cursor: pointer;
        border: 3px solid rgba(40, 102, 144, 1);
        margin-top: -10px;
        position: relative;
        box-sizing: border-box;
        z-index: 1;
      }
    }
  }

  // Файловый инпут в заказе
  &__file {
    display: flex;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
    padding: 12px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border: 1px solid rgba(255, 255, 255, 1);
    align-items: center;
    justify-content: center;

    &:hover {
      background: rgba(255, 255, 255, 1);
      border: 1px solid rgba(62, 156, 220, 1);
    }

    &-input {
     display: none;
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    &-text {
      font-weight: 600;
      font-size: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      text-transform: uppercase;
      max-width: 250px;
    }
  }
}